<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!-- Main Content -->
<main class="container">
    <div class="jumbotron">
        <h1 class="display-6">My <%= title %></h1>

        <div class="row mt-2 p-1">
            <div class="card col-4 rounded">
                <img class="card-img-top" src="../Assets/images/stream_app_icon.png" alt="Card image cap"
                    height="250" />
                <div class="card-body">
                    <h5 class="card-title">Streamy</h5>
                    <p class="card-text">The objective of the project is to provide streaming service to users where
                        user can create ,update, delete the stream. User also can sign in with google. users can watch
                        any number of streams simultaneously.</p>
                    <a href="https://github.com/mercer-mk/Stream" target="_blank" class="btn btn-dark ntn-sm">Github
                        Link</a>
                </div>
            </div>

            <div class="card col-4 rounded">
                <img class="card-img-top" src="../Assets/images/survey.png" alt="Card image cap" height="250" />
                <div class="card-body">
                    <h5 class="card-title">Survey</h5>
                    <p class="card-text">The objective of the project is to provide the survey facility to any service
                        providers. This application can be used to conduct the surveys by sending the mails to customers
                        and gathers the responses of recipients and stores it in the database.</p>
                    <a href="https://github.com/mercer-mk/Surveys" target="_blank" class="btn btn-warning ntn-sm">Github
                        Link</a>
                </div>
            </div>

            <div class="card col-4 rounded">
                <img class="card-img-top" src="../Assets/images/contact.jpg" alt="Card image cap" height="250" />
                <div class="card-body">
                    <h5 class="card-title">Contact Keeper</h5>
                    <p class="card-text">The objective of the project is to provide users feature to store contacts in
                        the databse. Users can update contacts any time later and also delete them.</p> <a
                        href="https://github.com/mercer-mk/contact-keeper" target="_blank"
                        class="btn btn-danger ntn-sm">Github Link</a>
                </div>
            </div>

        </div>

    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>