<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!-- Main Content -->
<main class="container">
    <div class="jumbotron">
        <!--<h1 class="display-6">Welcome to <%= title %></h1>-->
        <h1>About Me</h1>
        <p class="font-weight-bold">Hello Everyone, My Name is Milankumar Chhaganbhai Khunt. I am a student at
            centennial
            college. I am enrolled
            in software enginnering technology programm. I like playing video games like CS:GO and open world games.</p>
        <img src="../Assets/images/my.jpeg" height="200" class="rounded-circle" alt="My image" />
        <p>Here is Link to my resume. where you know about my projects.</p>
        <a href="https://my.indeed.com/resume?hl=en&co=CA&from=gnav-homepage" target="_blank"
            class="badge badge-danger p-2">Resume</a>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>