<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


<!-- Main Content -->
<main class="container">
    <div class="row">\
        <div class="'col-md-offset-1 col-md-10">
            <h1>
                <%= title  %>
            </h1>
            <a href="/contact-list/add" class="btn btn-primary mt-2 mb-2" role="button">
                <i class="fa fa-plus-cicrle"></i>Add a Contact
            </a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-2">Contact Email</th>
                    <th class="col-2"></th>
                    <th class="col-2"></th>

                </tr>

                <% for(let count=0;count<ContactList.length;count++){ %>
                <tr class="d-flex">
                    <td class='text-center col-2'><%= ContactList[count].name %> </td>
                    <td class='text-center col-2'><%= ContactList[count].number %> </td>
                    <td class='text-center col-2'><%= ContactList[count].email %> </td>
                    <td class="text-center col-2">
                        <a href="contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-small">
                            <i class="fas fa-pencil-alt mr-2"></i>Edit
                        </a> </td>
                    <td class="text-center col-2">
                        <a href="contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-small">
                            <i class="fas fa-trash-alt mr-2"></i>Delete
                        </a> </td>
                </tr>
                <% } %>
            </table>

        </div>



    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>